name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  nice-grpc:
    name: nice-grpc

    runs-on: ubuntu-latest

    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        environment:
          # Reached end of life:
          # - node-version: '14.15'
          #   node-options: --require "abort-controller/polyfill"
          # - node-version: '14.17'
          #   node-options: --experimental-abortcontroller
          # - node-version: 16.x
          - node-version: 18.x
          - node-version: 20.x

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.environment.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.environment.node-version }}
      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key:
            modules-${{ runner.os }}-${{ matrix.environment.node-version }}-${{
            hashFiles('yarn.lock') }}
      - run: yarn --frozen-lockfile --ignore-engines
      - run: yarn build --ignore nice-grpc-web
      - env:
          NODE_OPTIONS: ${{ matrix.environment.node-options }}
        run:
          yarn test --ignore nice-grpc-web --since ${{ github.ref ==
          'refs/heads/master' && github.event.before || format('origin/{0}',
          github.base_ref) }}

  nice-grpc-web-nodejs:
    name: nice-grpc-web NodeJS

    runs-on: ubuntu-latest

    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        environment:
          # Reached end of life:
          # - node-version: 16.x
          #   node-options: --experimental-fetch
          - node-version: 18.x
          - node-version: 20.x

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.environment.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.environment.node-version }}
      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key:
            modules-${{ runner.os }}-${{ matrix.environment.node-version }}-${{
            hashFiles('yarn.lock') }}
      - run: yarn --frozen-lockfile
      - run: yarn build
      - env:
          NODE_OPTIONS: ${{ matrix.environment.node-options }}
        run:
          yarn test --scope nice-grpc-web --since ${{ github.ref ==
          'refs/heads/master' && github.event.before || format('origin/{0}',
          github.base_ref) }}

  nice-grpc-web-browser:
    name: nice-grpc-web Browser

    runs-on: ubuntu-latest

    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Chrome
        uses: browser-actions/setup-chrome@v1
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: modules-${{ runner.os }}-18.x-${{ hashFiles('yarn.lock') }}
      - run: yarn --frozen-lockfile
      - run: yarn build
      - run:
          yarn lerna run test:local-browser-headless --scope nice-grpc-web
          --since ${{ github.ref == 'refs/heads/master' && github.event.before
          || format('origin/{0}', github.base_ref) }}

  # Empty job that finishes after all required jobs finish.
  # Needed to not have to specify every single required job in branch protection.
  success:
    needs:
      - nice-grpc
      - nice-grpc-web-nodejs
      - nice-grpc-web-browser

    runs-on: ubuntu-latest

    steps:
      - run: echo "Done"
