name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Test and Build

    runs-on: ubuntu-latest

    timeout-minutes: 5

    strategy:
      matrix:
        environment:
          - node-version: '14.15'
            node-options: --require "abort-controller/polyfill"
          - node-version: '14.17'
            node-options: --experimental-abortcontroller
          - node-version: 16.x
          - node-version: 18.x

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.environment.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.environment.node-version }}
      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}
      - run: yarn --frozen-lockfile
      - run: yarn build
      - env:
          NODE_OPTIONS: ${{ matrix.environment.node-options }}
        run: yarn test
