name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Test and Build

    runs-on: ubuntu-latest

    timeout-minutes: 10

    strategy:
      matrix:
        environment:
          - node-version: '14.15'
            node-options: --require "abort-controller/polyfill"
          - node-version: '14.17'
            node-options: --experimental-abortcontroller
          - node-version: 16.x
          - node-version: 18.x

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.environment.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.environment.node-version }}
      - run: yarn --frozen-lockfile
      - run: yarn build
      - env:
          NODE_OPTIONS: ${{ matrix.environment.node-options }}
        # run: yarn test
        run: cd packages/nice-grpc-web && yarn test
